################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/.vs/IfArrayContainArray/v16/*
/IfArrayContainArray/bin/*
/IfArrayContainArray/obj/*